.pagination{
    display: flex !important;
    flex-direction: row !important;
    padding-right: 40px;
}

.small{
    font-weight: bold;
    text-align: end;
    padding-left: 850px;
}



.catpagination{
    margin-right: 2rem;
}